@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  font-weight: 400;
  letter-spacing: -0.025em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.animate {
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.next-video-alert.next-video-alert-uploading {
  display: none !important;
}
