@tailwind base;
@tailwind components;
@tailwind utilities;

.cl-internal-1dauvpw {
  display: none !important;
}

.cl-internal-1hp5nqm {
  display: none !important;
}

.animate {
  @apply transition-all duration-300 ease-in-out;
}

.cl-userButtonPopoverCard.cl-popoverBox.cl-userButton-popover {
  top: 70px !important;
  left: 1865px !important;
}

.next-video-alert.next-video-alert-uploading {
  display: none !important;
}
